<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >    
    <h:body>
 
    	<h1>Candidatos</h1>
 
        <h:dataTable value="#{registroBean.candidateList}" var="c"
    			styleClass="order-table"
    			headerClass="order-table-header"
    			rowClasses="order-table-odd-row,order-table-even-row"
    		>
 
    			<h:column>
    				<!-- column header -->
    				<f:facet name="header">CPF</f:facet>
    				<!-- row record -->
    				#{c.cpf}
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Nome</f:facet>
    				#{c.nome}
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Cidade</f:facet>
    				#{c.cidade}
    			</h:column>
 
    			<h:column>
    				<f:facet name="header">Estado</f:facet>
    				#{c.estado}
    			</h:column>
 
    		</h:dataTable>
 
    </h:body>
</html>